<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BrandingFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>

		<key>GSPAN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E0F57941CDA3EFC009FE671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E0F57A41CDA43EC009FE671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FCAC391CDC413000260864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0FCAC421CDC413000260864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
